*{
    padding: 0px;
    margin: 0px;
}
body{
    background-size: 100% 150vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    width: 300px;
    height: 300px;
    display: flex;
    background-color:rgba(128,128,128,0.538);
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}
#time{
    color: purple;
    font-size: 8vw;
    text-shadow: 5px 5px 5px black;
}
#date{
    color: purple;
    font-size: 4vw;
    text-shadow: 5px 5px 5px black;
}
#day{
    color: purple;
    font-size: 4vw;
    text-shadow: 5px 5px 5px black;
}
#sec{
    font-size: 30vw;
    color: lawngreen;
    text-shadow: 5px 5px 5px black;
}